:root {
  --primary-color: #354e92;
  --primary-hover-color: #1D4ED8;
  --secondary-color: #c97f32;
  --secondary-hover-color: #e08b30;
  --text-color: #000000;
  --topbar-color: #e0e6ed;
  --topbar-background-color: #2f3e67;
  --layout-background-color: #f6f7f8;
  --layout-shadow-color: #dde6ee;
  --layout-border-color: #888ea8;
  --beige-400: #e8dcb5;
}
